<%for(var i = 0; i < data.length; i++){%>
<div class="sl-elem" title="参与人数">
    <div class="user-photo"><img src="<%= data[i].user_photo %>"></div>
    <div class="user-info">
        <div class="user-nick search-text"><a href="<%= data[i].url_us_visit %>"><%= data[i].user_nick %></a></div>
        <div class="user-accout">
            <div class="user-level">级别：<%= data[i].user_level %></div>
            <div class="user-publish">发布调查：<%= data[i].publish_times %></div>
            <div class="user-answer">参与调查：<%= data[i].answer_times %></div>
        </div>
        <div class="user-action"><%= data[i].survey_desc %>
            <div class="ua-left">动态：<%= data[i].action_time %></div>
            <div class="ua-right"><%= data[i].action_desc %><a href="<%= data[i].url_sv_action %>"><%= data[i].action_name %></a></div>
        </div>
    </div>
</div>
<%}%>
