<%for(var i = 0; i < data.length; i++){%>
    <div class="sv-list-elem">
        <div class="sv-title">
            <a class="sv-name" href="<%= data[i].url_visit %>" target="_blank"><%= data[i].survey_name %></a>
            <div class="sv-time"><%= data[i].start_date %>发布</div>
            <button class="sv-follow vkbutton vbtn-default">关注</button>
        </div>
        <div class="sv-desc"><%= data[i].survey_desc %></div>
        <div class="sv-prop">
            <div class="user-nick">
                <a href="<%= data[i].url_user %>" target="_blank"><img src="<%= data[i].user_photo %>"><%= data[i].user_nick %></a>
            </div>
            <div class="sv-type">
                <i class="icon-tint"></i>
                <a class="sv-type-main" href="<%= data[i].url_type %>"><%= data[i].survey_type_name %></a>
                <span>/</span>
                <a class="sv-type-sub" href="<%= data[i].url_type_sub %>"><%= data[i].survey_type_sub_name %></a>
            </div>
            <div class="sv-trade"><i class="icon-leaf"></i><a href="<%= data[i].url_trade %>"><%= data[i].survey_trade_name %></a></div>
            <div class="sv-item" title="题目数量"><i class="icon-list-alt"></i><%= data[i].question_num %></div>
        </div>
    </div>
<%}%>