<div class="item" data-item-seq="<%=data.question_seq%>" data-item-type="<%=data.question_type%>" data-custom-option="<%=data.custom_option%>">
    <div class="item-main">
        <div class="item-title">
            <div class="item-seq"><span><%= data.question_seq %></span>.</div>
            <div class="vk-input green" contenteditable="true" placeholder="请输入问题标题"><%= data.question_name%></div>
        </div>
        <div class="item-option">
            <div class="textarea" style="display:none"><textarea rows="3" cols="30" disabled="disabled"></textarea></div>
        </div>
    </div>
    <div class="item-sub">
        <div class="item-type">[单]</div>
        <div class="item-config">
            <div class="item-cog"><i class="icon-cog"></i></div>
            <div class="item-alter">
                <div class="up" title="上移题目" data-type="up"><i class="icon-arrow-up"></i></div>
                <div class="del" title="删除题目" data-type="delete"><i class="icon-remove"></i></div>
                <div class="down" title="下移题目" data-type="down"><i class="icon-arrow-down"></i></div>
            </div>
        </div>
    </div>
</div>
